    @model ProdutoViewModel
<div class="container mt-5">
    <h1 class="text-center mb-5">Cadastrar Produto</h1>
    <form asp-controller="Produtos" asp-action="NovoProduto" method="post" enctype="multipart/form-data">
        <!-- Nome -->
        <div class="mb-3">
            <label asp-for="Nome" class="form-label">Nome</label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <!-- Resumo -->
        <div class="mb-3">
            <label asp-for="Resumo" class="form-label">Resumo</label>
            <textarea asp-for="Resumo" class="form-control"></textarea>
            <span asp-validation-for="Resumo" class="text-danger"></span>
        </div>

        <!-- Categoria -->
        <div class="mb-3">
            <label asp-for="Categoria" class="form-label">Categoria</label>
            <select asp-for="Categoria" class="form-select">
                <option value="">Selecione uma categoria</option>
                <option value="Mouse">Mouse</option>
                <option value="Teclado">Teclado</option>
            </select>
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>

        <!-- Valor -->
        <div class="mb-3">
            <label asp-for="Valor" class="form-label">Valor</label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

        <!-- Upload de Imagem -->
        <div class="mb-3">
            <input type="file" class="form-control" asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>


        <!-- Botões -->
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="reset" class="btn btn-secondary">Limpar</button>
        </div>
    </form>
</div>


@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}